<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>This is Homework 2's basic app. </p>
<a href="http://localhost:3000/hw2/stringherecanchange"> Click Me for HW2 Get (and play with the string in the URL)!</a>
</br>
</br> And don't forget to use POST in Postman to check that it works.
</body>
</html>
